form{
    text-align: center;

}
.form-control{
    margin: 10px auto;
    padding:5px;
    border: 1px solid black;
    box-shadow: 1px 1px #cccccc;
    width: auto;
}

input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

.error{
    color: red;
}
.slider{
height: 100%;
background-image: url("https://cutewallpaper.org/21/hd-website-backgrounds/Autodesk-Wallpaper-Website-Background-Hd-Wallpapers-.jpg");
background-size: cover;
background-position: auto;
}
